body {
background-size: cover;
background-position: center;
}

.heading {
font-size: 23px;
width: 100%;
margin: 0px;
}

#status ,#number_of_objects{
font-size: 18px;
}

canvas {
    border-color: orangered;
    box-shadow: 3px 3px 2px 14px magenta,-3px -3px 3px 14px rgb(24, 207, 24);
    margin-top: 30px;
}
